.row
    .nxt-bck-btns        
        input.img-responsive.bck-btn(type='image', src="./images/back-btn.png", alt="Previous", ng-click="previous(prevUrl)")
        block next-btn
            input.img-responsive.nxt-btn(type='image', src="./images/next-btn.png", name='submit', alt="Next", ng-click="next(nxtUrl, pageNo)")
.row
    .col-xs-12
        img.img-responsive(src="../images/my-work-doc-logo.png", alt="My Work Doctor Logo")           
.row
    .navbar-brand.navbar-inverse
        a.footer-phone(href='tel:1-800-69-9362')
            span.navbar-logo 1-800-69-9362