//- Google CDN-served libraries
script(src="../js/libs/jquery.js")
script(src="../js/libs/bootstrap.js")
script(src="../js/libs/angular.js")
script(src="../js/libs/angular-route.js")
script(src="../js/libs/angular-animate.js")
script(src="../js/app.js")
script(src="../js/controllers/appController.js")
script(src="../js/controllers/homeController.js")
script(src="../js/controllers/consentFormController.js")
script(src="../js/controllers/patientStage1Controller.js")
script(src="../js/controllers/patientStage2Controller.js")
script(src="../js/controllers/patientStage3Controller.js")
script(src="../js/controllers/patientStage4Controller.js")
script(src="../js/controllers/patientStage5Controller.js")
script(src="../js/controllers/patientStage6Controller.js")
script(src="../js/controllers/patientStage7Controller.js")