//- Google CDN-served libraries
script(src="../js/libs/jquery.js")
script(src="../js/libs/bootstrap.js")
script(src="../js/libs/angular.js")
script(src="../js/libs/angular-route.js")
script(src="../js/libs/angular-animate.js")
script(src="../js/libs/angular-file-upload.min.js")
script(src="../js/libs/angular-base64.min.js")
script(src="../js/libs/quickblox.js")
script(src="../js/libs/bootstrap-loading-dialog.js")
script(src="../js/app.js")
//- filters
script(src="../js/filters/selectedObjects.js")
//- Directives
script(src="../js/directives/checkboxGroup.js")
//- Services
script(src="../js/services/fileReaderSvc.js")
script(src="../js/services/patientSvc.js")
script(src="../js/services/patientProfileModel.js")
//- Controllers
script(src="../js/controllers/appController.js")
script(src="../js/controllers/patientProfileController.js")
script(src="../js/controllers/patientStage1Controller.js")
script(src="../js/controllers/patientQueryController.js")
script(src="../js/controllers/patientStage5Controller.js")
script(src="../js/controllers/patientStage6Controller.js")
script(src="../js/controllers/patientStage7Controller.js")