link(href='../css/libs/bootstrap.css', rel='stylesheet', media='screen')
link(href='../css/libs/ngToast.min.css', rel='stylesheet', media='screen')
link(href='../css/libs/ngToast-animations.min.css', rel='stylesheet', media='screen')
link(href='../css/libs/bootstrap.css', rel='stylesheet', media='screen')
link(href='../css/main.css', rel='stylesheet', media='screen')