.row
    .col-xs-12.background-screen.container-top-spacing
        p.error {{viewOptions.errMsg}}
        .row
            .col-xs-4.middle-container
                input.pull-left.accept(type='checkbox', name="accept", id="accept", ng-model="accept", ng-change="onAccept(accept)")
                label.checkbox(for='accept') Accept
                h3 Read:
                .terms
                    object(style="width:100%; height:100%", src="../assets/MyWorkDocConsent.pdf")
                        embed(src="../assets/MyWorkDocConsent.pdf")       
        include ../includes/footer


