.row
    .col-xs-12
        img.img-responsive(src="../images/my-work-doc-logo.png", alt="My Work Doctor Logo")
.row
    form(role="form", ng-init="patient.props.type='newpatient'", novalidate, name="patientForm")
        .col-xs-12.patient-form
            .form-group                  
                input.form-control(type='text', name='firstname', placeholder='First Name', required, ng-model="patient.props.firstname")
                span.msg-error(ng-show='patientForm.firstname.$error.required && patientForm.firstname.$dirty') Please enter first name
            .form-group                  
                input.form-control(type='text', name='lastname', placeholder='Last Name', required, ng-model="patient.props.lastname")
                span.msg-error(ng-show='patientForm.lastname.$error.required && patientForm.lastname.$dirty') Please enter last name                    
            .form-group                  
                input.form-control(type='text', name='reasonforvisit', placeholder='Reason For Visit', required, ng-model="patient.props.reasonforvisit")
                span.msg-error(ng-show='patientForm.reasonforvisit.$error.required && patientForm.reasonforvisit.$dirty') Please enter reason for visit                   
            .form-group                  
                input.form-control(type='number', name='phone', placeholder='Phone Number', required, ng-model="patient.props.phone", ng-minlength="10", ng-maxlength="10")
                span.msg-error(ng-show='patientForm.phone.$error.required && patientForm.phone.$dirty') Please enter phone number
                span.msg-error(ng-show='patientForm.phone.$dirty && patientForm.phone.$error.number && !patientForm.phone.$error.required') Please enter valid phone number
                span.msg-error(ng-show='patientForm.phone.$invalid && patientForm.phone.$dirty && (patientForm.phone.$error.minlength || patientForm.phone.$error.maxlength) && !patientForm.phone.$error.required && !patientForm.phone.$error.number') Phone number should be 10 digits
            .form-group
                .form-control
                    input.pull-right.patient-type(type='radio', name="patient", id="newpatient", checked, ng-model="patient.props.type", value="newpatient")
                    label.radio(for='newpatient') New Patient
            .form-group
                .form-control                    
                    input.pull-right.patient-type(type='radio', name="patient", id="oldpatient", ng-model="patient.props.type", value="oldpatient")
                    label.radio(for='oldpatient') Existing Patient
            .form-group(ng-if="patient.props.type == 'oldpatient'")
                input.form-control(type='text', name='patientid', placeholder='Enter Patient ID', required, ng-model="patient.props.patientid")
                span.msg-error(ng-show='patientForm.patientid.$error.required && patientForm.patientid.$dirty') Please enter patiend id name                    
            .form-group
                input.img-responsive(type='image', src="./images/report-incident-logo-with-plus-icon.png", name='submit', alt="Report Incident", ng-click="patientLogin(patient)")                  
            p.help-text
                span If unable to connect, you may reach the nurse at &nbsp;
                a(href="tel:1-800-69-9362") 1-800-69-9362


