.row
    .col-xs-12
        img.img-responsive(src="../images/injured-person.jpg", alt="My Work Doctor Logo")    
    .col-xs-12.camera-nxt
        img.img-responsive(src="../images/camera-icon.png", alt="My Work Doctor Logo")
        input.img-responsive(type='image', src="./images/next-btn.png", name='submit', alt="Next", onClick="window.location.href='/patientStage2'")