.row(ng-show="!isVideoCall")
    .col-xs-4.middle-container
        .row
            .col-xs-12
                img.img-responsive(src="../images/my-work-doc-logo.png", alt="My Work Doctor Logo")
        .row
            .col-xs-12.provider-msg
                span The provider has been notified and will be on shortly.
        .row
            .col-xs-12
                img.img-responsive(src="../images/waiting.gif")
div(ng-show="isVideoCall")
    include videoCall
