.row
    .col-xs-12
        h3 What is the nature of injury?
.row
    .col-xs-4
        input.pull-left.body-part-type(type='checkbox', name="head", id="head", ng-model="head")
        label.body-part-multi-select(for='head') Head
.row
    .col-xs-4 
        input.pull-left.body-part-type(type='checkbox', name="neck", id="neck", ng-model="neck")
        label.body-part-multi-select(for='neck') Neck
.row
    .col-xs-4  
        input.pull-left.body-part-type(type='checkbox', name="torso", id="torso", ng-model="torso")
        label.body-part-multi-select(for='torso') Torso
.row
    .col-xs-4  
        input.pull-left.body-part-type(type='checkbox', name="hand", id="hand", ng-model="hand")
        label.body-part-multi-select(for='hand') Hand
.row
    .col-xs-4  
        input.pull-left.body-part-type(type='checkbox', name="arm", id="arm", ng-model="arm")
        label.body-part-multi-select(for='arm') Arm
.row
    .col-xs-4    
        input.pull-left.body-part-type(type='checkbox', name="leg", id="leg", ng-model="leg")
        label.body-part-multi-select(for='leg') Leg
    .col-xs-4    
        input.pull-left.body-part-type(type='checkbox', name="left", id="left", ng-model="left")
        label.body-part-multi-select(for='left') Left
    .col-xs-4    
        input.pull-left.body-part-type(type='checkbox', name="right", id="right", ng-model="right")
        label.body-part-multi-select(for='right') Right
.row
    .col-xs-4  
        input.pull-left.body-part-type(type='checkbox', name="foot", id="foot", ng-model="foot")
        label.body-part-multi-select(for='foot') Foot
include ../includes/footer    



