doctype html
html(ng-app='MyWorkDoc')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='My Work Doc', content='')
    meta(name='Hemanth', content='')
    include ./includes/styles        
  body(ng-controller="appCtrl")    
    toast
    block header
    block content
    block footer
    block scripts